@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  --black: #1c2a39;
  --gray: #5c6a79;
  --purple: #4c3db2;
  --transition: all 250ms ease-in-out;
}

.navbar {
  height: 120px;
  width: 80%;
  margin-left: 10%;
}

.navbar a {
  text-decoration: none;
}

.title {
  font-weight: bold;
  color: var(--black);
}

.menu, .menu_icons {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  color: var(--gray);
  cursor: pointer;
}

.menu .active {
  color: var(--black);
  font-weight: bold;
}

.menu li, .menu_icons li {
  margin: 0 10px;
}

.menu_icons li {
  color: var(--black);
}

.basket_icon {
  position: relative;
}

.basket_count {
  position: absolute;
  right: -0.7rem;
  bottom: 0;
  width: 20px;
  height: 20px;
  background-color: var(--black);
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}

.basket_count:empty {
  display: none;
}

.slider {
  width: 80%;
  margin: 0 auto;
  height: 600px;
}

.slider img {
  height: 500px;
}

.store {
  width: 80%;
  margin-left: 10%;
}

.book_card {
  /* height: 400px; */
}

.book_card img {
  height: 300px;
  width: 200px;
}

.fos {
  font-family: "Open Sans", sans-serif;
}
.gray {
  color: var(--gray);
}
.black {
  color: var(--black);
}
.fw-bold {
  font-weight: bold;
}

.book_star_rate .bi-star, .bi-star-fill {
  color: #eeedf5;
  font-size: 1.2rem;
}

.book_star_rate .bi-star-fill.active {
  color: #f2c94c;
}

.book_description {
  display: -webkit-box;
  -webkit-line-clamp: 4;  /*Kitap açıklamasının max 4 satır olmasını istiyoruz*/
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.old_price {
  text-decoration: line-through;
  color: #bdbdbd;
}

.btn_purple {
  cursor: pointer;
  border: 2px solid var(--purple);
  color: var(--purple);
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  transition: var(--transition);
  padding: 5px 0;
  border-radius: 5px;
}

.btn_purple:hover {
  background-color: var(--purple);
  color: white;
}

.filter_background {
  background-color: #efeef6;
  width: 500px;
  height: 700px;
  position: absolute;
  left: 0;
  z-index: -1;
}

.filter {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  min-height: 400px;
}

.filter li {
  color: var(--gray);
  font-size: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.filter li:hover {
  color: var(--purple);
}

.filter li.active {
  color: var(--purple);
  font-size: 1.5rem;
  font-weight: bold;
}

.filter li.active::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--purple);
  position: absolute;
  left: -5px;
  margin-top: 12px;
}

.basket_modal {
  background-color: #5c6a7950;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  transition: var(--transition);
}

.basket_modal.active {
  opacity: 1;
  z-index: 999;
}

.basket_items {
  width: 0;
  background-color: white;
  height: 100%;
  float: right;
  position: relative;
  transition: var(--transition);
}

.basket_modal.active .basket_items {
  width: 450px;
}

.basket_items .bi-x {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3rem;
  color: var(--black);
  cursor: pointer;
}

.basket_title {
  color: #1c2a39;
  margin-top: 5rem;
  text-align: center;
  font-weight: bold;
}

.basket_list {
  list-style: none;
  padding: 0 10px;
  margin-top: 3rem;
  max-height: 390px;
  overflow-y: auto;
}

.basket_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.basket_item_info {
  width: 250px;
  padding-left: 10px;
}

.basket_item_info .book_name {
  font-size: 16px;
  font-weight: bold;
}
.basket_item_info .book_price {
  font-size: 16px;
}
.basket_item_info .book_remove {
  cursor: pointer;
  color: var(--gray);
}

.basket_item .book_count {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--black);
}

.book_count .increase {
  margin-left: 5px;
}
.book_count .decrease {
  margin-right: 5px;
}

.book_count .increase, .decrease {
  cursor: pointer;
  color: var(--purple);
}

.basket_total {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 5%;
  align-items: center;
  width: inherit;
}

.basket_total button {
  width: 250px;
}

.total_price:empty + .btn_purple {
  display: none;
}

@media(max-width: 1000px) {
  .menu {
    display: none;
  }
  .menu_icons {
    
  }
  .navbar {
    justify-content: space-evenly;
  }
  .filter_background {
    display: none;
  }
  .filter {
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-top: -40px;
    min-height: 0;
  }
  .filter li.active::before {
    display: none;
  }
  .filter li.active {
    font-size: unset;
  }
  .book_card img {
    height: 200px;
  }
  .author-fs {
    font-size: 1rem !important;
  }
  .name-fs {
    font-size: 1.1rem !important;
  }
  .bi-star-fill {
    font-size: 1rem !important;
  }
  .review-fs {
    font-size: 14px !important;
  }
  .description-fs {
    font-size: 14px;
  }
  .price-fs {
    font-size: 1.1rem !important;
  }
  .price-mt {
    margin-top: -5px;
  }
  .btn-w {
    font-size: 0.6rem !important;
    width: 100px;
  }
}